/* Style the container to be responsive */
#stepPlot {
    width: 100%;
    height: 100%;
    background-color: #0B0F12
}

/* Ensure the body and html fill the viewport */
html, body {
    margin: 0;
    height: 100%;
    background-color: #0B0F12
}

/* Ensure the container fits within the body */
.chart-container {
    width: 100%;
    height: 100%;
    position: relative;
}